<div id="full-how-to">
  <h1 style="text-align: center; margin-bottom: 2rem;" class="larken-title"><span class="larken-highlight">123 Pump or Nurse</span></h1>
<img src="{{ 'Larken_HOWTOUSE_KC.jpg' | asset_img_url: 'master' }}" alt="">
    <h1 style="text-align: center; margin-bottom: 2rem;" class="larken-title"><span class="larken-highlight">How It Works</span></h1>
<iframe src="https://player.vimeo.com/video/300795973" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

{% include "wiremo-script" %}
{% include "wiremo-widget" %}