<div id="learn-about">
  <img src="https://cdn.shopify.com/s/files/1/0257/6970/5517/files/Larken-About-sm-KCWEB.jpg?4691">
<div class="learn-about-text">
  <p>Larken was born out of a struggle to find a comfortable and simple way to nurse and pump. While pumping and nursing their daughters, the Larken Co-Founders tried several bulky, ill-fitting tops and bras with irritating elastic and cumbersome snaps and zippers. Frustrated with the options on the market, they knew there had to be a better way. <strong>So they designed it.</strong></p>
 </div>
</div>