<div id="learn-diff">
<div class="learn-diff-text">
 <h1 style="margin-bottom:3rem;"><span class="larken-title larken-outline">The Larken Difference:</span></h1>
<h2><span class="larken-title larken-highlight">LUXURIOUSLY SOFT, EASY TO CARE FOR FABRICS</span></h2>
<p>You don’t have time for high-maintenance clothes so we focus on designing versatile, machine-washable pieces. We carefully select breathable, ultra-soft fabrics that can endure the demands of motherhood and save time.</p>
<h2><span class="larken-title larken-highlight">ALWAYS ELASTIC, HARDWARE AND TAG-FREE</span></h2>
<p>Your skin and baby’s skin are incredibly sensitive. And when the baby is hungry or you’re multi-tasking, there’s no time to fumble with elastic, snaps, zippers or buttons. Our essentials are always elastic, hardware and tag-free for ease of use and superior comfort.</p>
<h2><span class="larken-title larken-highlight">DESIGNED FOR ALL STAGES OF MOTHERHOOD</span></h2>
<p>We thoughtfully design pieces that don’t look like the standard maternity or nursing garments and that adapt to your changing body and needs so you can love them whether you’re donning a bump or pump, nursing, or years into your journey through motherhood.</p>
  <h2><span class="larken-title larken-highlight">A NAME MEANING FIERCE</span></h2>
<p>Motherhood is beautiful, but it isn’t always easy. Larken is a name that means fierce and was chosen out of a recognition that all of our journeys to and through motherhood are often a series of highs and lows, magical moments and messy struggles. We are inspired by our customers and committed to helping you feel your best at any stage of motherhood</p>
</div>
</div>