<div class="testimonials-header"><h1 class="larken-title"><span class="larken-highlight">Testimonials</span></h1></div>

  <div class="ha-slider ha-slider-5df3e2aae0b22 " data-slider="5df3e2aae0b22" > </div>


{% schema %}
{
  "name": "Testimonial Slides",
  "settings": [
    {
 	"type": "richtext",
      "id": "text",
      "label": "HTML"
    }
    
  ],
  "presets": [
    {
      "name": "Testimonial Slides",
      "category": "Slides"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
